body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffab99;
  padding: 1rem;
}

.header {
  padding:1rem;
  border-radius: 12px;
  border-top: solid;
  border-right: solid;
  border-color: red;
  background-color: #FF6037;
  color: white;
  width: 50rem;
  height: 4rem;
  font-size: larger;
  font-family: 'OCR A Std', monospace;
}

.front_image {
  width: 5rem;
  float: left;
  padding: 0px;
  margin-right:10px;
}

.title {
  margin-left: 4.5%;
  margin-top: 1rem;
}

.description {
  font-family: 'OCR A Std', monospace;
  font-style: oblique;
  font-size: 0.9rem;
  padding-left: 1rem;
  background-color: silver;
  border-radius: 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  width: 51rem;
}

.pokeball {
  width: 20rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 17.5rem;
}

.start_game_button {
  margin-left: 22rem;
  font-size: 2rem;
}

.instructions {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 20px;
  width: 50rem;
  padding:2rem;
  padding-top: 0rem;
  background-color: tomato;
  border-radius: 12px;
  border-top: solid;
  border-color: darkred;
  border-width: 0.5rem;
  margin-top: 10px;
}

.instructions div {
  margin-top: 20px;
}

.description {
  font-family: 'Gill Sans', sans-serif;
  margin-left: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.started {
  padding:2rem;
}

.playing div {
  font-family: 'OCR A Std', monospace;
  margin-top: 5px;
}

button {
  color: white;
  background-color: red;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  margin-top: 10px;
}

.or {
  margin-top: 3rem;
  font-family: 'OCR A Std', monospace;
  font-size: 110%;
  font-weight: 700;
}

.result .score {
  font-family: 'OCR A Std', monospace;
  font-size: 200%;
  font-weight: 900;
  margin-bottom: 1rem;
  border-top: solid;
  color: white;
  border-top-color: springgreen;
  border-bottom:solid;
  border-bottom-color: grey;
  border-radius: 12px;
  padding:0.5rem;
  width: 20rem;
  float:left;
  background-color: lightgreen;
  margin-right: 2rem;
}

.congrats {
  font-family: 'OCR A Std', monospace;
  font-size: 150%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.result .instructions{
  font-family: 'OCR A Std', monospace;
  padding-left: 1rem;
  padding-bottom: 0.75rem;
  width: 50%;
  margin-top: 3rem;
}

input {
  border-radius: 12px;
  width: 20%;
  margin-top: 5px;
  background-color: red;
}

::placeholder {
  color: black;
  font-family: 'OCR A Std', monospace;
}

.AttributeSearch {
  font-family: 'OCR A Std', monospace;
}

.play_again {
  font-size: 150%;
  width: 150px;
  height: 50px;
}

.invalid_attribute {
  color: red;
  font-weight: 700;
  font-size: 80%;
}

.invalid_pokemon {
  color: red;
  font-weight: 700;
  font-size: 80%;
}

.duplicate_pokemon {
  color: red;
  font-weight: 700;
  font-size: 80%;
}

.Pokemon {
  width: 270px;
  border-radius: 12px;
  font-family: 'DejaVu Sans Mono', monospace; 
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  border-bottom-right-radius: 6px;
  border-top: solid;
  border-top-width: 5px;
  border-right: solid;
  border-right-width: 4px;
  border-top-color: rgb(139, 112, 112);
  border-right-color: rgb(167, 154, 154);
}

.Pokemon button {
  background-color: grey;
  border-radius: 0px;
  border-left: solid;
  border-left-width: 1px;
  border-color: #C0C0C0;
  border-top: solid;
  font-family: 'DejaVu Sans Mono', monospace;
}

.Pokemon .button_tabs .weight {
  border-top-right-radius: 12px;
}

.Pokemon .name {
  margin-left: 5px;
}

.Pokemon .attribute_display {
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 30px;
}

.weight_val {
  margin-bottom: 1rem;
}

.moves_val {
  overflow: auto;
  white-space: nowrap;
  height: 40px;
}

.move {
  margin-top: 1px;
  margin-bottom: 1px;
}

.type {
  height: 18px;
  margin-top: 0px;
  margin-bottom: 1px;
  padding-bottom: 0px;
}

.types_val {
  overflow: auto;
  white-space: nowrap;
  height: 40px;
}

.loading {
  width: 10%;
}

.attribute {
  font-family: 'OCR A Std', monospace;
}

.random_attribute {
  width: 30rem;
  border-top: solid;
  border-color: grey;
  border-bottom: solid;
  border-radius: 12px;
  padding: 0.1rem;
  padding-left:1rem;
  font-size: 75%;
  margin-bottom: 2rem;
}

.timer {
  margin-bottom: 1rem;
  border-top: solid;
  border-bottom: solid;
  border-radius: 12px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: solid;
  padding: 0.1rem;
  padding-left: 1rem;
  border-color: greenyellow;
  background-color: green;
  color: greenyellow;
  margin-top: 1rem; 
  width: 11rem;
  display: inline-block;
  margin-left: 2rem;
}

.PokeSearch {
  border-top: solid;
  border-bottom: solid;
  border-color: grey;
  border-radius: 12px;
  padding: 0.5rem;
  width: 15rem;
  font-weight: 900px;
  margin-bottom: 1rem;
}

.PokeSearch input {
  width: 95%
}

.playing .score {
  margin-bottom: 10px;
  border-top: solid;
  border-bottom: solid;
  border-radius: 12px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: solid;
  padding: 0.1rem;
  padding-left: 1rem;
  border-color: greenyellow;
  background-color: green;
  color: greenyellow;
  width: 6rem;
  float:left;
}

.value {
  font-family: 'OCR A Std', monospace;
}

.pokemon_list {
  background-color: silver;
  border-radius: 12px;
  margin-top:10px;
  width: 109rem;
  padding-top:0.5rem;
  padding-right: 0rem;
  padding-left: 1rem;
  border-top: solid;
  border-top-color: grey;
  border-width: 7.5px;
}

.guesses {
  background-color: silver;
  border-radius: 12px;
  margin-top:10px;
  width: 54rem;
  padding-top:0.5rem;
  padding-right: 0rem;
  padding-left: 1rem;
  padding-bottom:1rem;
  border-top: solid;
  border-top-color: grey;
  border-width: 7.5px;
}